
<div class="card flex justify-content-center mt-2">
    <form [formGroup]="formNewPassword" (ngSubmit)="onSubmit()">
      <input
        id="email1"
        type="password"
        placeholder="Contraseña"
        pInputText
        class="w-full mb-3"
        formControlName="password"
      />

          <button
          pButton
          pRipple
          label="Cambiar Contraseña"
          icon="pi pi-send"
          class="w-full btn"
          type="submit"
        ></button>
    
  </form>
</div>