<nav class="navbar">
    <div class="nav">
        <div class="logo">
            <h1>VM</h1>
        </div>
        <div class="nav-items">
            <div class="links">
                <a routerLink="/admin-panel">Inicio</a>
                <a routerLink="/add-products">Agregar Productos</a>
                <a routerLink="/all-products">Ver Productos</a>
                <a routerLink="#">Ver Pedidos</a>
                <a href="#">Ver Facturas</a>
            </div>
        </div>
    </div>

    <div class="login" *ngIf="!isLoggedIn">
        <button class="search-btn" routerLink="/login">Entrar</button>
    </div>
      
    <div class="user-info" *ngIf="isLoggedIn">
        <div class="name">
            <i class="pi pi-user"></i><span>{{ userName }} {{ userLastName }}</span>
        </div>
        <div class="boton">
            <button class="search-btn" (click)="logout()">Cerrar Sesión</button>
        </div>
    </div>
</nav>

<div class="content">
    <p-table [value]="dataOrders" [tableStyle]="{ 'min-width': '70rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 5rem flex align-items-center">
                    <div>Id</div>
                </th>
                <th style="min-width: 5rem">
                    <div>Fecha</div>
                </th>
                <th style="min-width: 12rem">
                    <div>Total</div>
                </th>
                <th style="min-width: 7rem">
                    <div>Direccion</div>
                </th>
                <th style="min-width: 7rem">
                    <div>Factura en PDF</div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td class="custom-td">{{ order.id }}</td>
                <td class="custom-td">{{ order.date | date:'dd/mm/yyyy' }}</td>
                <td class="custom-td">{{ order.total }}$ - {{ totalBs }}Bs</td>
                <td class="custom-td">{{ order.address }}</td>
                <td class="custom-td">
                    <button class="btn-td" (click)="getPDF(order.id)">Descargar</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>