<nav class="navbar">
    <div class="nav">
        <div class="logo">
            <h1>VM</h1>
        </div>
        <div class="nav-items">
            <div class="links">
                <a routerLink="/home">Inicio</a>
                <a routerLink="/products">Productos</a>
                <a href="#">Contacto</a>
            </div>
            <div class="search">
                <input type="text" class="search-box" placeholder="Plato, bebida, postre">
                <button class="search-btn" href="login.html">Buscar</button>
            </div>
            
        </div>
    </div>
    <div class="login">
        <button class="search-btn" routerLink="/login">Entrar</button>
    </div>
</nav>

<div class="shopping-cart" (click)="showShoppingCart()">
    <div class="cart">
        <i class="pi pi-shopping-cart"></i>
    </div>
</div>

<div class="filters">
    <button class="filter-btn" routerLink="/login">Todos</button>
    <button class="filter-btn" routerLink="/login">Entradas</button>
    <button class="filter-btn" routerLink="/login">Platos principales</button>
    <button class="filter-btn" routerLink="/login">Postres</button>
    <button class="filter-btn" routerLink="/login">Bebidas</button>
</div>

<div class="content">
    <div class="product-card">
        <div class="product-image">
            <img src="../../../../assets/img/patacon.jpg" class="product-thumb" alt="">
            <button class="card-btn">Agregar al carrito</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Patacon</h2>
            <p class="product-short-des">Patacon de pernil o pollo</p>
            <span class="price">$20</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="../../../../assets/img/patacon.jpg" class="product-thumb" alt="">
            <button class="card-btn">Agregar al carrito</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Patacon</h2>
            <p class="product-short-des">Patacon de pernil o pollo</p>
            <span class="price">$20</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="../../../../assets/img/patacon.jpg" class="product-thumb" alt="">
            <button class="card-btn">Agregar al carrito</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Patacon</h2>
            <p class="product-short-des">Patacon de pernil o pollo</p>
            <span class="price">$20</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="../../../../assets/img/patacon.jpg" class="product-thumb" alt="">
            <button class="card-btn">Agregar al carrito</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Patacon</h2>
            <p class="product-short-des">Patacon de pernil o pollo</p>
            <span class="price">$20</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="../../../../assets/img/patacon.jpg" class="product-thumb" alt="">
            <button class="card-btn">Agregar al carrito</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Patacon</h2>
            <p class="product-short-des">Patacon de pernil o pollo</p>
            <span class="price">$20</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="../../../../assets/img/patacon.jpg" class="product-thumb" alt="">
            <button class="card-btn">Agregar al carrito</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Patacon</h2>
            <p class="product-short-des">Patacon de pernil o pollo</p>
            <span class="price">$20</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="../../../../assets/img/patacon.jpg" class="product-thumb" alt="">
            <button class="card-btn">Agregar al carrito</button>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Patacon</h2>
            <p class="product-short-des">Patacon de pernil o pollo</p>
            <span class="price">$20</span>
        </div>
    </div>
</div>

<footer>
    <p class="info">Correo de contacto - vacamuu&#64;gmail.com</p>
    <p class="info">telefono - +58 123 4567890</p>
    <div class="footer-social-container">
        <div>
            <a href="#" class="social-link">terms & services</a>
            <a href="#" class="social-link">privacy page</a>
        </div>
        <div>
            <a href="#" class="social-link">instagram</a>
            <a href="#" class="social-link">facebook</a>
            <a href="#" class="social-link">twitter</a>
        </div>
    </div>
    <p class="footer-credit">Vacamuu - Vara, Grill & Drinks</p>
</footer>