<nav class="navbar">
    <div class="nav">
        <div class="logo">
            <h1>VM</h1>
        </div>
        <div class="nav-items">
            <div class="links">
                <a routerLink="/home">Inicio</a>
                <a routerLink="/products">Productos</a>
                <a href="#">Contacto</a>
            </div>
            <div class="search">
                <input type="text" class="search-box" placeholder="Plato, bebida, postre">
                <button class="search-btn" href="login.html">Buscar</button>
            </div>
            
        </div>
    </div>
    <div class="login">
        <button class="search-btn">Entrar</button>
    </div>
</nav>

<div class="shopping-cart">
    <div class="cart">
        <i class="pi pi-shopping-cart"></i>
    </div>
</div>