<nav class="navbar">
    <div class="nav">
        <div class="logo">
            <h1>VM</h1>
        </div>
        <div class="nav-items">
            <div class="links">
                <a routerLink="/home">Inicio</a>
                <a routerLink="/products">Productos</a>
                <a href="#">Contacto</a>
            </div>
        </div>
    </div>
    <div class="login" *ngIf="!isLoggedIn">
        <button class="search-btn" routerLink="/login">Entrar</button>
      </div>
      
      <div class="user-info" *ngIf="isLoggedIn">
        <div class="name">
            <i class="pi pi-user"></i><span>{{ userName }} {{ userLastName }}</span>
        </div>
        <div class="boton">
            <button class="search-btn" (click)="logout()">Cerrar Sesión</button>
        </div>
      </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="header">
        <h1>Bienvenidos a <span>VACAMUU</span></h1>
    </div>

    <div class="text">
        <p>Explora todo nuestro menú</p>
    </div>
    
    <button class="btn" routerLink="/products">Explorar</button>
</section>

<div class="shopping-cart" (click)="showShoppingCart()">
    <div class="cart">
        <i class="pi pi-shopping-cart"></i>
    </div>
</div>

<!-- Product Section -->
<h2 class="product-tittle">Popular Products</h2>
<section class="product-section">
    <div class="product-container">
        <div class="product-card" *ngFor='let product of products'>
            <div class="product-image">
                <img [src]="product.image" class="product-thumb" alt="">
                <button class="card-btn" (click)="saveProduct(product)">Agregar al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">{{ product.name }}</h2>
                <p class="product-short-des">{{ product.description }}</p>
                <span class="price">{{ product.price }}$</span>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <p class="info">Correo de contacto - vacamuu&#64;gmail.com</p>
    <p class="info">telefono - +58 123 4567890</p>
    <div class="footer-social-container">
        <div>
            <a href="#" class="social-link">terms & services</a>
            <a href="#" class="social-link">privacy page</a>
        </div>
        <div>
            <a href="#" class="social-link">instagram</a>
            <a href="#" class="social-link">facebook</a>
            <a href="#" class="social-link">twitter</a>
        </div>
    </div>
    <p class="footer-credit">Vacamuu - Vara, Grill & Drinks</p>
</footer>
