<nav class="navbar">
    <div class="nav">
        <div class="logo">
            <h1>VM</h1>
        </div>
        <div class="nav-items">
            <div class="links">
                <a routerLink="/admin-panel">Inicio</a>
                <a routerLink="/register-employee">Registrar empleados</a>
                <a routerLink="/add-products">Agregar Productos</a>
                <a routerLink="/all-products">Ver Productos</a>
                <a routerLink="/all-orders">Ver Pedidos</a>
            </div>
        </div>
    </div>

    <div class="login" *ngIf="!isLoggedIn">
        <button class="search-btn" routerLink="/login">Entrar</button>
    </div>
      
    <div class="user-info" *ngIf="isLoggedIn">
        <div class="name">
            <i class="pi pi-user"></i><span>{{ userName }} {{ userLastName }}</span>
        </div>
        <div class="boton">
            <button class="search-btn" (click)="logout()">Cerrar Sesión</button>
        </div>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="header">
        <h1>Bienvenido <span>Empleado</span>, que te gustaria hacer?</h1>
    </div>
</section>

<div class="icon">
    <img src="../../../../assets/img/logo.png" alt="">
</div>

<div class="content">
    <div class="option" routerLink="/register-employee">
        <h1>Registrar empleados</h1>
    </div>

    <div class="option" routerLink="/add-products">
        <h1>Agregar productos</h1>
    </div>

    <div class="option" routerLink="/all-products">
        <h1>Ver productos</h1>
    </div>

    <div class="option" routerLink="/all-orders">
        <h1>Ver pedidos</h1>
    </div>
</div>



