<nav class="navbar">
    <div class="nav">
        <div class="logo">
            <h1>VM</h1>
        </div>
        <div class="nav-items">
            <div class="links">
                <a routerLink="/admin-panel">Inicio</a>
                <a routerLink="/add-products">Agregar Productos</a>
                <a routerLink="/all-products">Ver Productos</a>
                <a routerLink="#">Ver Pedidos</a>
                <a href="#">Ver Facturas</a>
            </div>
        </div>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="header">
        <h1>Bienvenido <span>Empleado</span>, que te gustaria hacer?</h1>
    </div>
</section>

<div class="icon">
    <img src="../../../../assets/img/logo.png" alt="">
</div>

<div class="content">
    <div class="option" routerLink="/add-products">
        <h1>Agregar productos</h1>
    </div>

    <div class="option" routerLink="/all-products">
        <h1>Ver productos</h1>
    </div>

    <div class="option">
        <h1>Ver pedidos</h1>
    </div>


    <div class="option">
        <h1>Ver facturas</h1>
    </div>
</div>



