<nav class="navbar">
    <div class="nav">
        <div class="logo">
            <h1>VM</h1>
        </div>
        <div class="nav-items">
            <div class="links">
                <a routerLink="/home">Inicio</a>
                <a routerLink="/products">Productos</a>
                <a href="#">Contacto</a>
            </div>
            <div class="search">
                <input type="text" class="search-box" placeholder="Plato, bebida, postre">
                <button class="search-btn" href="login.html">Buscar</button>
            </div>
            
        </div>
    </div>
    <div class="login">
        <button class="search-btn" routerLink="/login">Entrar</button>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="header">
        <h1>Bienvenido <span>Empleado</span>, que te gustaria hacer?</h1>
    </div>
</section>

<div class="content">
    <div class="option">
        <h1>Agregar productos</h1>
    </div>

    <div class="option">
        <h1>Ver productos</h1>
    </div>

    <div class="option">
        <h1>Ver pedidos</h1>
    </div>


    <div class="option">
        <h1>Ver facturas</h1>
    </div>
</div>



