<div class="container">
    <div class="p-4 shadow-4 border-round lg:w-6">
      <div class="text-center mb-5">
        <span class="logo-name">Recuperar Contraseña</span>
      </div>
  
      <form  >
        <label for="email1" class="block text-900 font-medium mb-2">Introduce el correo de tu cuenta</label>
        <input
          id="email1"
          type="text"
          placeholder="Correo Electrónico"
          pInputText
          class="w-full mb-3"
          formControlName="Correo"
        />
  
    </form>
    <button
    pButton
    pRipple
    label="Enviar codigo"
    icon="pi pi-send"
    class="w-full btn"
    type="submit"
    (click)="showConfirmCode()"
  ></button>
    </div>
  </div>
  
  
  